$icon-font-path: '../fonts/';
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "bower_components/slick-carousel/slick/slick.scss";
@import "bower_components/components-font-awesome/scss/fontawesome.scss";
// endbower

@font-face {
  font-family: 'Conv_GOTHAM-MEDIUM';
  src: url('../fonts/GOTHAM-MEDIUM.eot');
  src: local('☺'), url('../fonts/GOTHAM-MEDIUM.woff') format('woff'), url('../fonts/GOTHAM-MEDIUM.ttf') format('truetype'), url('../fonts/GOTHAM-MEDIUM.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Conv_GOTHAM-BOLD';
  src: url('../fonts/GOTHAM-BOLD.eot');
  src: local('☺'), url('../fonts/GOTHAM-BOLD.woff') format('woff'), url('../fonts/GOTHAM-BOLD.ttf') format('truetype'), url('../fonts/GOTHAM-BOLD.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Conv_GOTHAM-XLIGHT';
  src: url('../fonts/GOTHAM-XLIGHT.eot');
  src: local('☺'), url('../fonts/GOTHAM-XLIGHT.woff') format('woff'), url('../fonts/GOTHAM-XLIGHT.ttf') format('truetype'), url('../fonts/GOTHAM-XLIGHT.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}


body{
    padding: 0;
    margin: 0;
    color: #636363;
    font-family: 'Conv_GOTHAM-MEDIUM';
}
.col-select{
  display: inline-block;
  margin-left: 10px;
}
.clear{
  clear: both;
}

.form-control{
  border: 2px solid #979797;
}

.form-control:focus {
  border-color: #8e0d00;
  box-shadow: none;
}
.content-404{
    display: flex;
    height: 100vh;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.border{
  width: 10%;
  height: 15px;
  margin: 15px auto 20px;
  @media screen and (max-width: 767px) {
    height: 5px;
    margin: 8px auto 15px;
  }
}
.blue{
  background:#181b61; 
}
.white{
  background:#fff; 
}
.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
.column{
  .title{
    text-align: center;
    font-size: 50px;
    color: #16124f;
    font-family: 'Conv_GOTHAM-XLIGHT';
    text-transform: uppercase;
    @media screen and (max-width: 767px) {
      font-size: 20px;
    }
    span{
      color: #8e0d00;
      font-family: 'Conv_GOTHAM-BOLD';
    }
  }
}

.content-scroll{
  padding-bottom: 40px;
  .scroll-pane{
    width: 100%;
    height: 500px;
    overflow: auto;
    .jspVerticalBar{
      background: #ccc;
      width: 8px;
      .jspTrack{
        background: transparent;
        .jspDrag{
          background:#8e0d00; 
          border-radius: 8px;
        }
      }
    }
    p{
      font-family: 'Conv_GOTHAM-XLIGHT';
    }
    ul{
      li{
        font-family: 'Conv_GOTHAM-XLIGHT';
      }
    }
  }
}
.btn-back-wrapper{
  text-align: center;
  margin: 20px 0;
  .btn-back{
    display: inline-block;
    a{
      display: block;
      width: 120px;
      height: 35px;
      display: flex;
      justify-content:center;
      align-items:center;
      text-decoration: none;
      background: #8e0d00;
      color: #fff;
      i{
        padding-left: 8px;
        padding-top: 2px;
      }
    }
  }
}



#wrapper{
  overflow: hidden;
  .with-color{
    position: fixed !important;
    background: #fff;
    top: 0 !important;
    padding: 20px 0;
    @media screen and (max-width: 576px) {
      padding: 10px 0;
    }
    .menu-mobile{
      color: #555 !important;
    }
  }
  #top-mobile{
    position: absolute;
    left: 0;
    right: 0;
    top: 20px;
    z-index: 1;
    .logo{
      a{
        display: inline-block;
        img{
          height: 50px;
          object-fit: contain;
        }
      }
    }
    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        background-color: #fff;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
        .closebtn {
          position: absolute;
          top: 0;
          right: 25px;
          font-size: 36px;
          margin-left: 50px;
          z-index: 999;
          color: #555555;
        }
        ul{
          li{
            list-style: none;
            font-size: 14px;
            margin-bottom: 20px;
            font-family: 'Conv_GOTHAM-XLIGHT';
            a{
              color: #555555;
              text-decoration: none;
            }
          }
        }
    }
    .menu-mobile{
      text-align: right;
      color: #fff;
    }
  }
  .fixed-header{
    position: fixed !important;
    width: 100%;
    z-index: 9;
    background: rgba(0, 0, 0, 0.2);
    height: 100px;
    a{
      color: #fff !important;
    }
  }
  #top{
    position: relative;
    .little-padding{
      padding: 20px 0 50px !important;
    }
    .non-floating{
      padding: 20px 0 100px;
      .top-left{
        .logo{
          img{
            object-fit:contain;
            height: 60px;
          }
        }
      }
      .top-right{
        margin-top: 20px;
        .menu{
          ul{
            padding: 0;
            margin: 0;
            li{
              list-style: none;
              float: left;
              margin-right: 13px;
              font-family: 'Conv_GOTHAM-XLIGHT';
              position: relative;
              &:hover{
                .sub-menu{
                  display: block;
                }
              }
              &:last-child{
                margin-right: 0;
              }
              a{
                color: #484848;
                text-decoration: none;
                padding: 3px 10px;
                &:hover{
                  background: #868686;
                  color: #fff;
                  
                }
              }
              .sub-menu{
                position: absolute;
                z-index: 1;
                top: 20px;
                width: 220px;
                background: #484848;
                padding: 10px 0;
                display: none;
                ul{
                  li{
                    float: none;
                    margin-right: 0;
                    line-height: normal;
                    a{
                      display: block;
                      padding: 3px 10px;
                      opacity: 0.7;
                      background: none;
                      color: #fff;
                      &:hover{
                        opacity: 1;
                      }
                    }
                    .active{
                      opacity: 1;
                    }
                  }
                }
              }
            }
             .active{
              a{
                background: #868686;
                color: #fff;
              }
            }
          }
        }
      }
    }
    .floating{
      position: absolute;
      left: 0;
      right: 0;
      top: 20px;
      z-index: 1;
      .top-left{
        .logo{
          img{
            object-fit:contain;
            height: 60px;
          }
        }
      }
      .top-right{
        margin-top: 20px;
        .menu{
          ul{
            padding: 0;
            margin: 0;
            li{
              list-style: none;
              float: left;
              margin-right: 13px;
              font-family: 'Conv_GOTHAM-XLIGHT';
              &:hover{
                .sub-menu{
                  display: block;
                }
              }
              &:last-child{
                margin-right: 0;
              }
              .sub-menu{
                position: absolute;
                top: 20px;
                width: 220px;
                background: #484848;
                padding: 10px 0;
                display: none;
                ul{
                  li{
                    float: none;
                    margin-right: 0;
                    line-height: normal;
                    a{
                      display: block;
                      padding: 3px 10px;
                      opacity: 0.7;
                      background: none;
                      color: #fff;
                      &:hover{
                        opacity: 1;
                      }
                    }
                    .active{
                      opacity: 1;
                    }
                  }
                }
              }
              a{
                color: #fff;
                text-decoration: none;
                padding: 3px 10px;
                &:hover{
                  background: #fff;
                  color: #868686;
                  .sub-menu{
                    display: block;
                  }
                }
              }
            }
            .active{
              a{
                background: #fff;
                color: #868686 !important;
              }
            }
          }
        }
      }
    }
  }

  #page-banner{
    position: relative;
    @media screen and (max-width: 576px) {
      padding-top: 75px;
    }
    @media screen and (min-width: 768px)and(max-width: 991px) {
      padding-top: 80px;
    }
    .img{
      img{
        @media screen and (max-width: 767px) {
          height: 150px;
          object-fit: cover;
          width: 100%;
        }
      }
    }
    .floating-col-div{
      top: 30%;
      position: absolute;
      right: 20%;
      width: 20%;
      color: #fff;
      @media screen and (max-width: 576px) {
        width: 50%;
        top: 40%;
        right: 0;
      }
      @media screen and (min-width: 768px)and(max-width: 991px) {
        width: 30%;
        right: 10%;
        top: 40%;
      }
      .logo-bri{
        @media screen and (max-width: 576px) {
          width: 120px;
        }
      }
      .center{
        text-align: center;
        font-size: 18px;
        line-height: normal;
      }
      .caption{
        margin-top: 20px;
        @media screen and (max-width: 576px) {
          font-size: 10px;
          line-height: normal;
          margin-top: 0;
        }
      }
    }
  }

  #full-slider{
    .slick-dots{
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      text-align: center;
      padding-left: 0;
      li{
        display: inline-block;
        text-indent: -9999px;
        width: 15px;
        margin: 0 10px;
        opacity: 0.5;
        cursor: pointer;
        background: url(../images/dots.png) no-repeat;
      }
      .slick-active{
        opacity: 1;
      }
    }
    .block{
      .img{
        position: relative;
        .slides{
          position: relative;
          .btn-play-wrapper{
            text-align: center;
            position: absolute;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
            top: 50%;
            a{
              display: block;
              position: relative;
              &:hover{
                .non-hover{
                  opacity: 0;
                }
                .hover{
                  opacity: 1;
                }
              }
              .hover{
                opacity: 0;
              }
              img{
                display:inline-block;
                cursor: pointer;
                width: 130px;
                height: auto;
                left: 0;
                right: 0;
                margin: 0 auto;
                position: absolute;
                transition: opacity .5s ease-out;
                -moz-transition: opacity .5s ease-out;
                -webkit-transition: opacity .5s ease-out;
                -o-transition: opacity .5s ease-out;
              }
            }
          }
          img{
            object-fit:cover;
            height: 800px;
            width: 100%;
            @media screen and (max-width: 768px) {
              height: 550px;
              object-position: 70% center;
            }
          }
        }
        .inner-block{
          position: absolute;
          left: 0;
          right: 0;
          bottom: 30%;
          color: #fff;
          @media screen and (max-width: 768px) {
            bottom: 10%;
          }
          .hastag{
            img{
              object-fit:contain;
              height: 150px;
            }
          }
          .title{
            font-family: 'Conv_GOTHAM-BOLD';
            font-size: 20px;
            margin-top: 20px;
            width: 30%;
            @media screen and (max-width: 768px) {
              font-size: 15px;
              width: 100%;
              text-align: center;
            }
          }
          .desc{
            width: 23%;
            margin-top: 20px;
            font-family: 'Conv_GOTHAM-XLIGHT';
            strong{
              font-family: 'Conv_GOTHAM-BOLD';
            }
            @media screen and (max-width: 768px) {
              width: 100%;
              text-align: center;
            }
          }
          .more{
            margin-top: 20px;
            font-family: 'Conv_GOTHAM-XLIGHT';
            text-transform: uppercase;
            @media screen and (max-width: 768px) {
              text-align: center;
            }
            a{
              display: inline-block;
              border: 1px solid #fff;
              color: #fff;
              padding: 5px 10px;
              text-decoration: none;
              &:hover{
                background: #fff;
                color: #000;
              }
            }
          }
        }
      }
    }
  }

  #management-section{
    margin-bottom: 50px;
    .management-slider{
      .prev{
        position: absolute;
        top: 70%;
        left: 0;
        z-index: 99;
        @media screen and (min-width: 768px)and(max-width: 1024px) {
          top: 80%;
        }
      } 
      .next{
        position: absolute;
        top: 70%;
        right: 0;
        @media screen and (min-width: 768px)and(max-width: 1024px) {
          top: 80%;
        }
      }
      .slick-slide{
        .img{
          padding: 25px;
        }
      }
    }
    .management-column{
      .management-block{
        @media screen and (max-width: 991px) {
          text-align: center;
        }
        .img{
        @media screen and (max-width: 991px) {
          display: inline-block;
        }
          img{
            object-fit:cover;
            height: 530px;
            @media screen and (max-width: 991px) {
              height: auto;
            }
          }
        }
      }
    }
  }

  #berkarir-section{
    background: url(../images/bg-berkarir.jpg) no-repeat;
    background-size:cover;
    height: 800px;
    padding: 40px 0;
    @media screen and (max-width: 991px) {
      height: auto;
    }
    .title{
      color: #fff;
      span{
        color: #fff;
      }
    }
    .desc{
      text-align: center;
      color: #fff;
      font-size: 30px;
      font-family: 'Conv_GOTHAM-XLIGHT';
      @media screen and (min-width: 768px)and(max-width: 991px) {
        line-height: normal;
        font-size: 28px;
      }
      @media screen and (max-width: 576px) {
        font-size: 18px;
        line-height: normal;
      }
      span{
        font-family: 'Conv_GOTHAM-BOLD';
      }
    }
    .berkarir-column{
      margin-top: 50px;
      .block{
        text-align: center;
        a{
          display: block;
          text-decoration: none;
          color: #fff;
          &:hover{
            .img{
              -webkit-filter: grayscale(0);
              filter: grayscale(0);
            }
            .link{
              background: #8e0d00;
              border-color: #8e0d00;
              color: #fff;
            }
          }
          .img{
            display: inline-block;            
            -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
            img{
              object-fit:cover;
              height: 131px;
            }
          }
          .subtitle{
            font-size: 20px;
            text-transform: capitalize;
            display: flex;
            align-items:center;
            height: 70px;
            justify-content: center;
            padding: 0 10%;
            @media screen and (max-width: 991px) {
              line-height: normal;
            }
          }
          .short-desc{
            font-family: 'Conv_GOTHAM-XLIGHT';
            font-size: 18px;
            padding: 0 10%;
            line-height: normal;
            min-height: 160px;
            overflow: hidden;
            @media screen and (max-width: 991px) {
              min-height: auto;
              overflow: visible;
              margin: 20px 0;
            }
          }
          .link{
            font-family: 'Conv_GOTHAM-XLIGHT';
            border: 1px solid #fff;
            padding: 5px 20px;
            display: inline-block;
            text-transform: uppercase;
          }
        }
      }
    }
    .berkarir-slider{
      margin-top: 50px;
      .prev{
        position: absolute;
        top: 70%;
        left: 0;
        z-index: 99;
        @media screen and (min-width: 768px)and(max-width: 1024px) {
          top: 80%;
        }
      } 
      .next{
        position: absolute;
        top: 70%;
        right: 0;
        @media screen and (min-width: 768px)and(max-width: 1024px) {
          top: 80%;
        }
      }
      .block{
        text-align: center;
        a{
          display: block;
          text-decoration: none;
          color: #fff;
          &:hover{
            .img{
              -webkit-filter: grayscale(0);
              filter: grayscale(0);
            }
            .link{
              background: #8e0d00;
              border-color: #8e0d00;
              color: #fff;
            }
          }
          .img{
            display: inline-block;            
            -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
            img{
              object-fit:cover;
              height: 131px;
            }
          }
          .subtitle{
            font-size: 20px;
            text-transform: capitalize;
            display: flex;
            align-items:center;
            height: 70px;
            justify-content: center;
            padding: 0 10%;
            @media screen and (max-width: 991px) {
              line-height: normal;
            }
          }
          .short-desc{
            font-family: 'Conv_GOTHAM-XLIGHT';
            font-size: 18px;
            padding: 0 10%;
            line-height: normal;
            min-height: 160px;
            overflow: hidden;
            @media screen and (max-width: 991px) {
              min-height: auto;
              overflow: visible;
              margin: 20px 0;
            }
          }
          .link{
            font-family: 'Conv_GOTHAM-XLIGHT';
            border: 1px solid #fff;
            padding: 5px 20px;
            display: inline-block;
            text-transform: uppercase;
          }
        }
      }
    }
  }

  #penghargaan-section{
    background: #f3f3f3;
    padding: 30px 0 50px;
    .award-slider{
      .prev{
        position: absolute;
        top: 35%;
        left: -2%;
        cursor: pointer;
        z-index: 1;
      }
      .next{
        position: absolute;
        top: 35%;
        right: -2%;
        z-index: 1;
        cursor: pointer;
      }
        margin-top: 50px;
        text-align: center;
        .award-block{
          display: inline-block;
          .img{
            text-align: center;
            margin-bottom: 10px;
            img{
              display: inline-block;
              height: 200px;
              object-fit:cover;
            }
          }
        }
    }
  }

  #identitas-section{
    .title{
      span{
        @media screen and (max-width: 767px) {
          display: block;
        }
      }
    }
    .column-content{
      background: #f3f3f3;
      padding: 30px 0;
      margin: 30px 0;
      .column-content-block{
        .column{
          text-align: center;
          margin-bottom: 20px;
          .subtitle{
            font-size: 25px;
            color: #16124f;
            text-transform: capitalize;
          }
          .desc{
            font-family: 'Conv_GOTHAM-XLIGHT';
            color: #484848;
            font-size: 16px;
          }
        }
      }
    }
  }

  #riwayat-section{
    @media screen and (max-width: 576px) {
      background: #f3f3f3;
      padding-top: 88px;
    }
    .prev{
      position: absolute;
      top: 50%;
      left: 5%;
      cursor: pointer;
      z-index: 1;
    }
    .next{
      position: absolute;
      top: 50%;
      right: 5%;
      z-index: 1;
      cursor: pointer;
    }
    .slider-riwayat{
      .slick-list{
        .img{
          position: relative;
          img{
            height: 320px;
            width: 100%;
            object-fit: cover;
            @media screen and (max-width: 576px) {
              height: 100px;
              object-position: center;
              width: 100%;
            }
          }
          .txt-slide{
            position: absolute;
            top: 10%;
            right: 7%;
            width: 50%;
            .title{
              font-size: 20px;
              h2{
                font-family: 'Conv_GOTHAM-BOLD';
                display: inline-block;
                color: #a7200a;
              }
            }
            .con-left{
              text-align: center;
              font-family: 'Conv_GOTHAM-XLIGHT';
              font-size: 18px;
            }
            .col-right{
              text-align: center;
              font-family: 'Conv_GOTHAM-XLIGHT';
              font-size: 18px;
            }
          }
        }
      }
    }
    .after-slider{
      background: #f3f3f3;
      padding: 30px 0;
      @media screen and (max-width: 768px) {
        text-align: center;
      }
      .titlex{
        text-transform: uppercase;
        font-size: 20px;
        color: #16124f;
        font-family: 'Conv_GOTHAM-XLIGHT';
        margin-bottom: 20px;
        span{
          font-family: 'Conv_GOTHAM-BOLD';
          color: #8e0d00;
        }
      }
      .desc{
        font-family: 'Conv_GOTHAM-XLIGHT';
        font-size: 20px;
        ul{
          padding: 0 20px;
        }
      }
    }
  }

  #nilai-section{
    padding: 40px 0;
    .column-nilai{
      padding: 10px 0; 
      .column-nilai-block{
        @media screen and (max-width: 991px) {
          text-align: center;
        }
        .img{
          @media screen and (max-width: 991px) {
            display: inline-block;
          }
        }
        .titlex{
          text-align: center;
          line-height: normal;
          text-transform: uppercase;
          color: #16124f;
          font-family: 'Conv_GOTHAM-XLIGHT';
          font-size: 18px;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 85px;
          @media screen and (max-width: 991px) {
            height: auto;
            padding: 20px;
          }
        }
        .desc{
          text-align: center;
          font-family: 'Conv_GOTHAM-XLIGHT';
          font-size: 12px;
          @media screen and (max-width: 991px) {
            margin-bottom: 50px;
          }
        }
      }
    }
    .nilai-slider-wrapper{
      .nilai-slider{
        .prev{
          position: absolute;
          top: 70%;
          left: 0;
          @media screen and (min-width: 768px)and(max-width: 1024px) {
            top: 80%;
          }
        } 
        .next{
          position: absolute;
          top: 70%;
          right: 0;
          @media screen and (min-width: 768px)and(max-width: 1024px) {
            top: 80%;
          }
        }
        .slick-list{
          .slick-slide{
            .desc{
              opacity: 0;
            }
            .img{
              padding: 10px;
            }
          }
          .slick-current{
            .desc{
              opacity: 1;
            }
          }
        }
        .column-nilai-block{
          @media screen and (max-width: 991px) {
            text-align: center;
          }
          .img{
            @media screen and (max-width: 991px) {
              display: inline-block;
            }
          }
          .titlex{
            text-align: center;
            padding: 60px 0 45px;
            text-transform: uppercase;
            color: #16124f;
            font-family: 'Conv_GOTHAM-XLIGHT';
            font-size: 18px;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 85px;
            @media screen and (max-width: 991px) {
              height: auto;
              padding: 10px;
            }
          }
          .desc{
            text-align: center;
            font-family: 'Conv_GOTHAM-XLIGHT';
            font-size: 12px;
            @media screen and (max-width: 991px) {
              margin-bottom: 50px;
            }
          }
        }
      }
    }
    
  }

  #solusi-section{
    padding: 20px 0;
    text-align: center;
    .title{
      font-size: 50px;
      color: #000;
      font-family: 'Conv_GOTHAM-XLIGHT';
      text-transform: uppercase;
      @media screen and (max-width: 767px) {
        font-size: 20px;
      }
      span{
        color: #8e0d00;
        font-family: 'Conv_GOTHAM-BOLD';
      }
    }
    .desc{
      font-family: 'Conv_GOTHAM-XLIGHT';
      font-size: 40px;
      line-height: normal;
      @media screen and (max-width: 767px) {
        font-size: 18px;
      }
    }
    .solution-img-wrapper{
      text-align:center;
      @media screen and (min-width: 1200px) {
        float: none;
      }
       .solution-img{
        margin: 20px 0;
        display: inline-block;
        a{          
          text-decoration: none;
          color: #636363;
          &:hover{
            color: #000;
          }
        }
        .block{
          display: inline-block;
          .img{
            img{
              height: 80px;
              display: inline-block;
            }
          }          
          .name{
            height: 70px;
            font-size: 25px;
            font-family: 'Conv_GOTHAM-XLIGHT';
            @media screen and (max-width: 767px) {
              font-size: 18px;
              height: auto;
              padding-bottom: 20px;
            }
          }
        }
      }
    }
   
  }

  #home-banner-1-section{
    position: relative;
    .img{
      img{
        object-fit:cover;
        height: 330px;
        width: 100%;
        @media screen and (max-width: 767px) {
          height: 130px;
        }
      }
    }
    .column-text{
      position: absolute;
      top: 30%;
      right: 5%;
      font-size: 50px;
      width: 50%;
      text-align: center;
        @media screen and (max-width: 767px) {
          font-size: 13px;
        }
        @media screen and (min-width: 768px)and(max-width: 1024px) {
          font-size: 25px;
        }
        .text{
          @media screen and (max-width: 768px) {
            font-size: 12px !important;
          }
        }
    }
  }

  #laporan-section{
    padding: 50px 0;
    .column-laporan{
      margin-top: 50px;
      .nav-tabs{
        border: none;
        li{
          text-align: center;
          margin-right: 20px;
          a{
            position: relative;
            border: none;
            background: none;
            border-radius: 0;
            padding: 0;
            color: #000;
            font-size: 20px;
            display: inline-block;
            img{
              height: 55px;
            }
            .main{

            }
            .hover{
              display: none;
            }
            &:hover{
              .main{
                display: none;
              }
              .hover{
                display: block;
              }
            }
          }
        }
        .active{
          .main{
            display: none;
          }
          .hover{
            display: block;
          }
        }
      }
      .tab-content{
        .tab-pane{
          h4{
            margin: 30px 0;
          }
          .column-report{
            .block{
              display: inline-block;
              width: 11%;
              margin-right: 20px;
              @media screen and (max-width: 991px) {
                width: 15%;
                margin-bottom: 20px;
              }
              a{
                display: block;
                text-align: center;
                text-decoration: none;
                .img{
                  position: relative;
                  height: 122px;
                  &:hover{
                    .hover{
                      display: block;
                    }
                    .main{
                      display: none;
                    }
                  }
                  img{
                    width: 110px;
                  }
                  .hover{
                    display: none;
                  }
                }
                .title{
                  font-family: 'Conv_GOTHAM-BOLD';
                  font-size: 14px;
                  color: #484848;
                  @media screen and (max-width: 991px) {
                    font-size: 10px;
                    line-height: normal;
                  }
                }
                .size{
                  color: #484848;
                  font-family: 'Conv_GOTHAM-XLIGHT';
                  display: block;
                  @media screen and (max-width: 991px) {
                    font-size: 10px;
                    line-height: normal;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  #mudah-asuransi-section{
    padding: 20px 0 50px;
    text-align: center;
    @media screen and (max-width: 767px) {
      padding: 30px 0 50px;
    }
    .title{
      text-transform: uppercase;
      font-size: 50px;
      color: #000;
      font-family: 'Conv_GOTHAM-XLIGHT';
      @media screen and (max-width: 767px) {
        font-size: 20px;
      }
      span{
        color: #8e0d00;
        font-family: 'Conv_GOTHAM-BOLD';
      }
    }
    .column-wrapper{
      .column-block{
        @media screen and (max-width: 768px) {
          margin-bottom: 50px;
        }
        .img{
          -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
          filter: grayscale(100%);
          @media screen and (max-width: 768px) {
            display: inline-block;
          }
          &:hover{
            -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
            filter: grayscale(0%);
          }
          a{
            display: block;        
            img{
              object-fit:cover;
              height: 131px;
            }    
          }
        }
        .title-block{
          font-family: 'Conv_GOTHAM-XLIGHT';
          font-size: 25px;
          text-transform: uppercase;
          padding: 0 18%;
          margin: 20px 0;
          a{
            text-decoration: none;
            color: #5a5a5a;
          }
        }
        .desc{
          text-align: center;
          font-family: 'Conv_GOTHAM-XLIGHT';
          color: #5a5a5a;
          font-size: 18px;
        }
        .more{
          text-align: center;
          margin-top: 50px;
          font-family: 'Conv_GOTHAM-XLIGHT';
          text-transform: uppercase;
          a{
            text-decoration: none;
            display: inline-block;
            border: 1px solid #5a5a5a;
            color: #5a5a5a;
            padding: 5px 20px;
            &:hover{
              background: #5a5a5a;
              color: #fff;
            }
          }
        }
      }
    }
  }

  #home-banner-2-section{
    position: relative;
    .img{
      img{
        object-fit:cover;
        height: 330px;
        width: 100%;
        @media screen and (max-width: 767px) {
          height: 130px;
        }
      }
    }
    .column-text{
      position: absolute;
      top: 20%;
      color: #fff;
      width: 50%;
      text-align: center;
      .title{
        font-size: 50px;
        text-transform: uppercase;
        font-family: 'Conv_GOTHAM-BOLD';
        @media screen and (max-width: 767px) {
          font-size: 14px;
          line-height: normal;
          text-align: left;
        }
        @media screen and (min-width: 768px)and(max-width: 1024px) {
          font-size: 25px;
        }
      }
      .desc{
        font-size: 20px;
        line-height: normal;
        margin: 20px 0;
        font-family: 'Conv_GOTHAM-XLIGHT';
        @media screen and (max-width: 767px) {
          font-size: 8px;
          margin: 5px 0;
          text-align: left;
        }
      }
      .more{
        text-align: center;
        text-transform: uppercase;
        font-family: 'Conv_GOTHAM-XLIGHT';
        @media screen and (max-width: 767px) {
          text-align: left;
        }
        a{
          display: inline-block;
          color: #fff;
          text-decoration: none;
          padding: 5px 20px;
          border: 1px solid #fff;
          @media screen and (max-width: 767px) {
            font-size: 8px;
            padding: 3px 10px;
          }
          &:hover{
            background: #fff;
            color: #000;
          }
        }
      }
    }
  }

  #berita-section{
    padding: 20px 0 ;
    text-align: center;
    .title{
      text-transform: uppercase;
      font-size: 50px;
      color: #000;
      font-family: 'Conv_GOTHAM-XLIGHT';
      @media screen and (max-width: 767px) {
        font-size: 20px;
      }
      span{
        color: #8e0d00;
        font-family: 'Conv_GOTHAM-BOLD';
      }
    }
    .berita-wrapper{
      .berita-left{
        .block{
          @media screen and (max-width: 768px) {
            margin-bottom: 20px;
          }
          a{
            display: block;
            color: #fff;
            text-decoration: none;
            position: relative;
            &:hover{
              .img{
               -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
                filter: grayscale(100%);
              }
              .overlay{
                background: rgba(0, 0, 0, 0.5);
                top: 0;
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
              }
            }
            .img{
              position: relative;
              overflow: hidden;              
               -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
                filter: grayscale(0%);
              @media screen and (max-width: 768px) {
                display: inline-block;
              }
              &:hover{
                -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
                filter: grayscale(100%);
              }
              img{
                object-fit:cover;
                height: 600px;
                width: 100%;
                @media screen and (max-width: 768px) {
                  height: 450px;
                }
              }
            }
            .title{
              position: absolute;
              z-index: 1;
              top: 40%;
              left: 0;
              right: 0;
              font-family: 'Conv_GOTHAM-BOLD';
              font-size: 30px;
              text-transform: uppercase;
              color: #fff;
              padding: 0 18%;
              @media screen and (max-width: 768px) {
                font-size: 20px;
              }
            }
            
          }
        }
      }
      .berita-right{
        .cols{
          .block{
            @media screen and (max-width: 768px) {
              margin-bottom: 20px !important;
            }
            a{
              display: block;
              color: #fff;
              text-decoration: none;
              position: relative;
              &:hover{
                .img{
                  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
                  filter: grayscale(100%);
                }
                .overlay{
                  background: rgba(0, 0, 0, 0.5);
                  top: 0;
                  width: 100%;
                  height: 100%;
                  position: absolute;
                  left: 0;
                }
              }
              .img{
                position: relative;
                overflow: hidden;
                -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
                filter: grayscale(0%);
                img{
                  object-fit:cover;
                  height: 300px;
                  width: 100%;
                  @media screen and (max-width: 768px) {
                    height: 450px;
                  }
                }
              }
              .title{
                z-index: 1;
                position: absolute;
                top: 40%;
                left: 0;
                right: 0;
                font-family: 'Conv_GOTHAM-BOLD';
                font-size: 20px;
                text-transform: uppercase;
                color: #fff;
                padding: 0 18%;
              }
            }
          }
        }
      }
    }
  }

  #page-column-wrapper{
    padding: 50px 0;
    .title-content{
      text-align: center;
      color: #16124f;
      font-size: 33px;
      text-transform: uppercase;
      span{
        font-family: 'Conv_GOTHAM-BOLD';
        color: #8e0d00;
      }
    }
    .content-content{
      .subtitle{
        text-align: center;
        color: #16124f;
        font-size: 25px;
        text-transform: uppercase;
        margin-top: 20px;
        font-family: 'Conv_GOTHAM-XLIGHT';
        span{
          font-family: 'Conv_GOTHAM-BOLD';
          color: #8e0d00;
        }
      }
      .border{
        height: 10px;
      }
    }
    #laporan{
      padding: 40px 0;
      .traffic-slider-wrapper{
        .traffic-slider{
          .prev{
            position: absolute;
            top: 50%;
            cursor: pointer;
            z-index: 9;
          }
          .next{
            position: absolute;
            top: 50%;
            right: -10px;
            cursor: pointer;
          }    
        }
      }
    }
    #komite{
      .komite-slider-wrapper{
        background: #f1f1f1;
        padding: 40px 0;
        .container{
          @media screen and (min-width: 1200px) {
            width: 900px;
          }
          .komite-slider{
            .prev{
              position: absolute;
              top: 50%;
              cursor: pointer;
              @media screen and (min-width: 1200px) {
                left: -15%;
              }
            }
            .next{
              position: absolute;
              top: 50%;
              right: -10px;
              cursor: pointer;
              @media screen and (min-width: 1200px) {
                right: -15%;
              }
            }
            .blocks{}
          }
        }
        
      }
    }
    #whistle{
      padding: 40px 0;
      .text{
        text-align: center;
      }
      .whistle-slider-wrapper{
        .whistle-slider{      
          .prev{
            position: absolute;
            top: 50%;
            cursor: pointer;
          }
          .next{
            position: absolute;
            top: 50%;
            right: -10px;
            cursor: pointer;
          }    
          .blocks{
            padding: 40px 0;
            .img{
              text-align: center;
              min-height: 150px;
              img{
                display: inline-block;
              }
            }
            .title{
                color: #8e0d00;
                font-size: 30px;
            }
          }
        }
        .contact-bottom{
          text-align: center;
          @media screen and (min-width: 1200px) {
            width: 800px;
            margin: 0 auto;
          }
          .blockx{
            display: inline-block;
            margin: 0 50px;
            .img{
              float: left;
              margin-right: 10px;
              img{
                width: 40px;
              }
            }
            .text{
              float: left;
              text-align: left;
              display: flex;
              align-items: center;
              justify-content: center;
              height: 38px;
            }            
          }
        }
      }
    }
    #kode-etik{
      .column-kode-etik{
        padding: 40px 0;
        .container{
          @media screen and (min-width: 1200px) {
            width: 700px;
          }
          .column-left{
            border-right: 1px solid #9b9b9b;
            @media screen and (max-width: 768px) {
              border-right: none;
            }
          }
          .col{
            .cols{
              text-align: center;
              .img{
                display: inline-block;
                min-height: 100px;
                width: 120px;
              }
              .txt{
                text-align: center;
                color: #16124f;
                font-size: 25px;
                text-transform: uppercase;
                margin-top: 20px;
                font-family: 'Conv_GOTHAM-XLIGHT';
                margin-bottom: 20px;
                span{
                  font-family: 'Conv_GOTHAM-BOLD';
                  color: #8e0d00;
                }
              }
            }
          }
        }
      }
    }
    #benturan-kepentingan{
      padding: 40px 0;
      .column-benturan{
        text-align: center;
        padding: 40px 0 0;
        .img{
          img{
            display: inline-block;
            width: 120px;
          }
        }
        .txt{
          color: #16124f;
          font-size: 30px;
          text-transform: uppercase;
          padding: 20px;
          font-family: 'Conv_GOTHAM-XLIGHT';
        }
        .desc{
          padding: 10px 50px;
        }
        .hindar{
          display: inline-block;
          border: 1px solid #8e0d00;
          padding: 10px 20px;
          color: #8e0d00;
          text-transform: uppercase;
          margin: 30px 0;
          font-family: 'Conv_GOTHAM-XLIGHT';
        }
      }
    }
    #fraud{
      .fraud-slider-wrapper{
        .fraud-slider{
          .prev{
            position: absolute;
            top: 50%;
            cursor: pointer;
          }
          .next{
            position: absolute;
            top: 50%;
            right: -10px;
            cursor: pointer;
          } 
          .blocks{
            text-align: center;
            .tagline{
              font-size: 70px;
              color: #8e0d00;
              font-family: 'Conv_GOTHAM-XLIGHT';
            }
            .txt{
              font-family: 'Conv_GOTHAM-XLIGHT';
              color: #16124f;
              font-size: 30px;
              text-transform: uppercase;
            }
            .desc{
              padding: 10px 50px;
            }
          }
        }
      }
    }
    #anti-gratifikasi{
      .column-gratifikasi{
        padding: 40px 0;
        .container{
          @media screen and (min-width: 1200px) {
            width: 800px;
          }
          .img{
            @media screen and (max-width: 768px) {
              text-align: center;
              img{
                display: inline-block;
              }
            }
          }
          .col-block{
            @media screen and (max-width: 768px) {
              margin-bottom: 20px;
            }
            .imgs{
              display: flex;
              align-items: center;
              justify-content: center;
              height: 150px;
              img{
                @media screen and (max-width: 768px) {
                  width: 100px;
                }
              }
            }
            .txt{
              @media screen and (max-width: 768px) {
                text-align: center;
              }
              b{
                display: block;
              }
            }
          }
        }
      }
    }
    #pedoman{
      .content{
        p{
          text-align: center;
          margin: 40px 0;
        }
      }
      .file-slider2{
        .prev{
          position: absolute;
          top: 50%;
          cursor: pointer;
        }
        .next{
          position: absolute;
          top: 50%;
          right: -10px;
          cursor: pointer;
        }
        .blocks{
          a{
            display: inline-block;
            text-decoration: none;
            @media screen and (max-width: 768px) {
              display: block;
            }
            .img{
              position: relative;
              width: 100%;
              text-align: center;
              &:hover{
                .img-non{
                  display: none;
                }
                .img-hover{
                  display: inline-block;
                }
              }
              img{
                width: 80px;
              }
              .img-non{
                display: inline-block;
              }
              .img-hover{
                display: none;
              }
            }
            .title{
              text-align: center;
              font-size: 18px;
              font-family: 'Conv_GOTHAM-BOLD';
            }
            .size{
              text-align: center;
              font-size: 18px;
              font-family: 'Conv_GOTHAM-XLIGHT';
              color: #484848;
            }
          }
        }
      }
    }
    .page-column-left{
      .cols-detail-cerita{
        font-family: 'Conv_GOTHAM-XLIGHT';
        .title{
          font-size: 30px;
        }
        .date{
          font-size: 18px;
          text-align: center;
          span{
            font-style: italic;
          }
        }
        .title-2{
          font-size: 32px;
          text-align: center;
          color: #16124f;
          margin: 5px 0 20px;
        }
        .desc{
          text-align: center;
          color: #838383;
        }
        .img{
          margin: 20px 0;
        }
        .quote{
          color: #000;
          font-size: 20px;
          text-align: center;
          @media screen and (min-width: 1200px) {
            padding: 0 15%;
          }
          .icon{
            margin: 20px 0;
            font-size: 35px;
            opacity: 0.5;
          }
          .name{
            text-transform: uppercase;
            text-align: center;
            font-size: 16px;
            margin: 20px 0;
            opacity: 0.5;
          }
        }
        .desc2{
          color: #838383;
          font-size: 18px;
          text-align: center;
        }
        .bottom{
          margin-top: 10%;
          .related{
            .title{
              font-size: 14px;
              text-align: left;
              display: inline-block;
              border-top: 1px solid #000;
              padding-top: 15px;
              font-family: 'Conv_GOTHAM-BOLD';
            }
            .cols-related{
              .blocks{
                a{
                  opacity: 0.5;
                  text-decoration: none;
                  display: block;
                  &:hover{
                    opacity: 1;
                  }
                  .img{
                    margin-bottom: 5px;
                    img{
                      object-fit:cover;
                      height: 129px;
                      width: 100%;
                    }
                  }
                  .title{
                    padding: 0;
                    border: none;
                    line-height: normal;
                    min-height: 45px;
                  }
                }
              }
            }
          }
        }
        .cols-actions{
          background: #f8f8f8;
          margin: 40px 0;
          .prev{
            a{
              text-decoration: none;
              position: relative;
              display: block;
              min-height: 100px;
              .icon{
                position: absolute;
                top: 35%;
                left: 5%;
                font-size: 40px;
                color: #8e0d00;
              }
              .title{
                line-height: normal;
                font-size: 14px;
                text-align: left;
                padding: 10px;
                position: absolute;
                top: 35%;
                left: 5%;
              }
            }
          }
          .next{
            a{
              display: block;
              text-decoration: none;
              min-height: 100px;
              .icon{
                position: absolute;
                top: 35%;
                right: 7%;
                font-size: 40px;
                color: #8e0d00;
              }
              .title{
                line-height: normal;
                font-size: 14px;
                text-align: left;
                padding: 10px;
                position: absolute;
                right: 7%;
                top: 35%;
              }
            }
          }
        }
      }
    }
    .title{
      text-align: center;
      text-transform: uppercase;
      font-size: 50px;
      color: #000;
      font-family: 'Conv_GOTHAM-XLIGHT';
      span{
        color: #8e0d00;
        font-family: 'Conv_GOTHAM-BOLD';
      }
    }
    .column-slider-cerita{
      padding-top: 20px;
      .subtitle{
        text-align: center;
        text-transform: uppercase;
        font-size: 20px;
        color: #000;
        font-family: 'Conv_GOTHAM-XLIGHT';
        span{
          color: #8e0d00;
          font-family: 'Conv_GOTHAM-BOLD';
        }
      }
      .cerita-slider{
        padding-top: 20px;
        .prev{
          position: absolute;
          top: 25%;
          left: -20px;
          z-index: 99;
          cursor: pointer;
        }
        .next{
          position: absolute;
          top: 25%;
          right: -20px;
          cursor: pointer;
        }
        .slick-dots{
          text-align: center;
          margin: 40px 0;
          padding: 0;
          li{
            background: url(../images/dots-cerita.png) no-repeat;
            width: 15px;
            height: 15px;
            text-indent: -9999px;
            display: inline-block;
            margin: 0 10px;
            cursor: pointer;
          }
          .slick-active{
            background: url(../images/dots-cerita-act.png) no-repeat;
          }
        }
        .blocks{
          a{
            display: block;
            text-decoration: none;
            &:hover{
              .title{
                color: #bcbcbc;
              }
            }
            .title{
              color: #000;
              font-size: 20px;
              min-height: 100px;
              margin-top: 10px;
              text-align: left;
            }
            .date{
              color: #bcbcbc;
            }
          }
        }
      }
    }
    #menu-layanan{
      text-align: center;
      .nav-tabs{
        display: inline-block;
        border: none;
        li{
          @media screen and (max-width: 767px) {
            float: none;
          }
          a{
            border: none;
            border-radius: 0;
            &:hover{
              background: #16124f;
              color: #fff;
            }
          }
        }
        .active{
          a{
            background: #16124f;
            color: #fff;
          }
        }
      }
    }
    .main-content-layanan{
      margin-top: 50px;
      font-family: 'Conv_GOTHAM-XLIGHT';
      .tab-pane{
        .menu-layanan{
          ul{
            text-align: center;
            border: none;
            li{
              display: inline-block;
              width: 25%;
              border: none;
              a{
                color: #5a5a5a;
                text-decoration: none;
                border: none;
                border-radius: 0;
              }
            }
            .active{
              a{
                background: #5a5a5a;
                color: #fff;
              }
            }
            .in{
              a{
                background: #5a5a5a;
                color: #fff;
              }
            }
          }
        }
        .title{
          text-align: center;
          color: #16124f;
          font-size: 33px;
          text-transform: uppercase;
          @media screen and (max-width: 576px) {
            font-size: 25px;
          }
          span{
            font-family: 'Conv_GOTHAM-BOLD';
            color: #8e0d00;
          }
        }
        .subtitle{
          text-align: center;
          color: #16124f;
          font-size: 25px;
          text-transform: uppercase;
          margin-top: 20px;
          span{
            font-family: 'Conv_GOTHAM-BOLD';
            color: #8e0d00;
          }
        }
        .form-column{
        padding: 50px 0;
        .title{
          font-family: 'Conv_GOTHAM-BOLD';
          color: #8e0d00;
          text-transform: uppercase;
          font-size: 25px;
          text-align: center;
        }
        .row{
          .form-column-left{
            min-height: 200px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            .title{
              color: #16124f;
              font-family: 'Conv_GOTHAM-XLIGHT';
            }
            .short-desc{
              text-align: center;
              margin: 10px 0;
            }
            form{
              text-align: center;
              input{
                display: inline-block;
                width: 75%;
                border-radius: 0;
              }
            }
          }
          .form-column-right{
            min-height: 200px;
            border-left: 1px solid #979797;
            display: flex;
            justify-content: center;
            flex-direction: column;
            .title{
              color: #16124f;
              font-family: 'Conv_GOTHAM-XLIGHT';
            }
            .short-desc{
              text-align: center;
              margin: 10px 0;
            }
            form{
              text-align: center;
              input{
                display: inline-block;
                width: 75%;
                border-radius: 0;
              }
            }
          }
        }
      }
      .file-slider-wrapper{
        margin-top: 50px;
        .title{}
        .desc{
          text-align: center;
          font-size: 18px;
          margin: 30px 0 50px;
        }
        .subtitle3{
          font-family: 'Conv_GOTHAM-BOLD';
          text-transform: uppercase;
          text-align: center;
          font-size: 18px;
          margin: 40px 0 30px;
        }
        .column-slide{
          @media screen and (max-width: 767px) {
            text-align: center;
          }
          @media screen and (min-width: 1200px) {
            width: 800px;
            margin: 0 auto;
          }
          
          .file-slider{
            .next{
              position: absolute;
              top: 50%;
              right: 0;
              cursor: pointer;
            }
            .prev{
              position: absolute;
              top: 50%;
              left: 0;
              z-index: 99;
              cursor: pointer;
            }
            .blocks{
              width: 130px !important;
              a{
                display: inline-block;
                text-decoration: none;
                color: #484848;
                outline: none;
                .img{
                  position: relative;
                  width: 100%;
                  text-align: center;
                  &:hover{
                    .img-non{
                      display: none;
                    }
                    .img-hover{
                      display: block;
                    }
                  }
                  .img-non{
                    display: block;
                  }
                  .img-hover{
                    display: none;
                  }
                  img{
                    object-fit: contain;
                    width: 100%;
                    height: 72px;
                  }
                }
                .title{
                  text-align: center;
                  font-size: 18px;
                  font-family: 'Conv_GOTHAM-BOLD';
                }
                .size{
                  text-align: center;
                  font-size: 18px;
                }
              }
            }
          }

        }
      }
      .cd-accordion-menu{
        width: 90%;
        max-width: 600px;
        background: #4d5158;
        margin: 4em auto;
        box-shadow: 0 4px 40px #70ac77;
        li{
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          input[type=checkbox] {
            position: absolute;
            opacity: 0;
          }
        }
      }
        #accordion{
          .card{
            .card-header{
              button{
                padding: 0;
                position: relative;
                width: 100%;
                img{
                  width: 100%;
                  @media screen and (max-width: 576px) {
                    height: 150px;
                    object-fit: cover;
                  }
                }
              }
            }
            button{
              position: relative;
              .floating{
                position: absolute;
                top: 25%;
                width: 30%;
                right: 10%;
                padding: 20px;
                color: #fff;
                text-align: left;
                display: inline-block;
                @media screen and (max-width: 767px) {
                  width: 40%;
                }
                .title2{
                  font-family: 'Conv_GOTHAM-BOLD';
                  font-size: 25px;
                  text-transform: uppercase;
                  @media screen and (max-width: 767px) {
                    font-size: 15px;
                  }
                }
                .desc{
                  display: inline-block;
                  line-height: normal;
                  @media screen and (max-width: 767px) {
                    display: none;
                  }
                }
                .more{
                  border: 1px solid #fff;
                  display: inline-block;
                  padding: 5px 10px;
                  text-transform: uppercase;
                  margin: 20px 0;
                  font-size: 12px;
                }
              }
            }
            .card-body{
              background: #f2f2f2;
              padding: 100px 0;
              .container{
                @media screen and (min-width: 1200px) {
                  width: 1000px;
                }
                .subtitle2{
                  text-align: center;
                  font-size: 35px;
                  text-transform: uppercase;
                  font-family: 'Conv_GOTHAM-BOLD';
                  color: #16124f;
                }
                .tagline2{
                  text-align: center;
                  font-size: 27px;
                  b{
                    font-family: 'Conv_GOTHAM-BOLD';
                  }
                }
                .column-two{
                  margin: 0 auto;
                  @media screen and (min-width: 1200px) {
                    width: 1000px;
                  }
                  .row{
                    margin-top: 20px;
                    .column-two-left{
                      padding: 30px;
                      form{
                        width: 80%;
                        display: inline-block;
                        label{
                          color: #8e0d00;
                          font-family: 'Conv_GOTHAM-BOLD';
                        }
                        .form-group{
                          .forget{
                            a{
                              text-decoration: none;
                              font-family: 'Conv_GOTHAM-BOLD';
                              color: #16124f;
                            }
                            opacity: 0.5;
                            font-size: 12px;
                            margin: 10px 10px 25px 0;
                            display: inline-block;
                          }                          
                          input{
                            background: transparent;
                          }
                          button{
                            background: #8e0d00;
                            border: none;
                            box-shadow: none;
                            color: #fff;
                            font-family: 'Conv_GOTHAM-BOLD';
                            height: 35px;
                            width: 120px;
                            text-align: left;
                            outline: none;
                          }
                        }
                      }
                    }
                    .column-two-right{
                      padding: 30px 78px;
                      min-height: 300px;
                      border-left: 1px solid #979797;
                      @media screen and (max-width: 576px) {
                        border-left: none;
                        padding: 30px;
                      }
                      .col-desc{
                        h4{
                          b{
                            font-family: 'Conv_GOTHAM-BOLD';
                          }
                        }
                      }
                    }
                  }
                  
                }
                .inner-tabs{
                  margin-bottom: 50px;
                  ul{
                    text-align: center;
                    border: none;
                    li{
                      display: inline-block;
                      float: none;
                      text-transform: uppercase;
                      a{
                        color: #bdbdbd;
                      }
                    }
                    .active{
                      a{
                        background: #5a5a5a;
                        color: #fff;
                      }
                    }
                  }
                }
                .col-slide-wrapper{
                  margin-bottom: 50px;
                  .subtitle3{
                    font-family: 'Conv_GOTHAM-BOLD';
                    text-transform: uppercase;
                    text-align: center;
                    font-size: 18px;
                    margin: 40px 0 30px;
                  }

                  .x-slide{
                    @media screen and (min-width: 1200px) {
                      width: 800px;
                      margin: 0 auto;
                    }
                    .next{
                      position: absolute;
                      top: 50%;
                      right: 0;
                      cursor: pointer;
                    }
                    .prev{
                      position: absolute;
                      top: 50%;
                      left: 0;
                      z-index: 99;
                      cursor: pointer;
                    }
                    .slick-slide{

                    }
                    .blocks{
                      width: 130px !important;
                      a{
                        display: inline-block;
                        text-decoration: none;
                        color: #484848;
                        outline: none;
                        &:hover{
                          .img{
                            .img-non{
                              display: none;
                            }
                            .img-hover{
                              display: inline-block;
                            }
                          }
                        }
                        .img{
                          position: relative;
                          width: 100%;
                          text-align: center;
                          .img-non{
                            display: inline-block;
                          }
                          .img-hover{
                            display: none;
                          }
                          img{
                            object-fit:contain;
                            width: 100%;
                            height: 72px;
                          }
                        }
                        .title{
                          text-align: center;
                          font-size: 18px;
                          font-family: 'Conv_GOTHAM-BOLD';
                        }
                        .size{
                          text-align: center;
                          font-size: 18px;
                        }
                      }
                    }
                  }
                }
                .content2{
                  margin: 40px 0;
                  h4{
                    text-transform: uppercase;
                    color: #16124f;
                    font-size: 22px;
                  }
                  ol{
                    padding-left: 15px;
                    margin: 20px 0;
                    li{
                      font-family: 'Conv_GOTHAM-BOLD';
                    }
                  }
                  p{
                    b{
                      display: block;
                      font-family: 'Conv_GOTHAM-BOLD';
                    }
                  }
                }
              }              
            }
          }
        }
        .traffic-slider-wrapper{
          .traffic-slider{
            .prev{
              position: absolute;
              top: 50%;
              left: 0;
              z-index: 99;
              cursor: pointer;
              @media screen and (min-width: 768px)and(max-width: 1024px) {
                top: 80%;
              }
            } 
            .next{
              position: absolute;
              top: 50%;
              right: 0;
              cursor: pointer;
              @media screen and (min-width: 768px)and(max-width: 1024px) {
                top: 80%;
              }
            }
            .blocks{
              padding: 0 50px;
              .titlex{
                color: #16124f;
                font-size: 25px;
                text-transform: uppercase;
              }
              .short-desc{
                b{
                  font-family: 'Conv_GOTHAM-BOLD';
                }
              }
              .img{
                margin-top: 20px;
              }
            }
          }
        }
        .img-columns{
          text-align: center;
          margin-top: 5%;
          .img{
            display: inline-block;
            width: 28%;
            height: 125px;
            img{
              height: 80px;
              display: inline-block;
              object-fit: contain;
            }
          }
        }
        .column-two{
          margin-top: 50px;
          .subtitile{
            text-transform: uppercase;
            font-size: 20px;
            color: #181b61;
          }
          .short-desc-z{
            margin-bottom: 20px;
            b{
              font-family: 'Conv_GOTHAM-BOLD';
            }
          }
          .container{
            @media screen and (min-width: 1200px) {
              width: 1000px;
            }

            .column-two-left{
              padding: 30px;
              form{
                .form-group{
                  label{
                    color: #8e0d00;
                    font-family: 'Conv_GOTHAM-BOLD';
                  }
                  input{
                    background: transparent;
                  }
                  .forget{
                    opacity: 0.5;
                    font-size: 12px;
                    margin: 10px 10px 25px 0;
                    display: inline-block;
                                        
                  }
                  .btn-login{
                    background: #8e0d00;
                    border: none;
                    box-shadow: none;
                    color: #fff;
                    font-family: 'Conv_GOTHAM-BOLD';
                    height: 35px;
                    width: 120px;
                    text-align: left;
                    outline: none;
                  }
                }
              }
            }
            .column-two-right{
              padding: 30px 78px;
              min-height: 300px;
              border-left: 1px solid #979797;
              @media screen and (max-width: 576px) {
                border-left: none;
                padding: 30px;
              }
            }
          }
        }
      }
    }
    
    #davestra{
      .column-two{
          margin-top: 50px;
          .subtitile{
            text-transform: uppercase;
            font-size: 20px;
            color: #181b61;
          }
          .short-desc-z{
            margin-bottom: 20px;
            b{
              font-family: 'Conv_GOTHAM-BOLD';
            }
          }
          .container{
            @media screen and (min-width: 1200px) {
              width: 1000px;
            }
            .border-byleft{
              border-right: 1px solid #979797;
            }
            .non-border-right{
              border-left: none !important;
            }
            .column-two-left{
              
              padding: 30px;
              form{
                .form-group{
                  label{
                    color: #8e0d00;
                    font-family: 'Conv_GOTHAM-BOLD';
                  }
                  input{
                    background: transparent;
                  }
                  .forget{
                    opacity: 0.5;
                    font-size: 12px;
                    margin: 0 10px 25px 0;
                    display: inline-block;
                    a{
                      font-family: 'Conv_GOTHAM-XLIGHT';
                    }
                                        
                  }
                  .btn-login{
                    background: #8e0d00;
                    border: none;
                    box-shadow: none;
                    color: #fff;
                    font-family: 'Conv_GOTHAM-BOLD';
                    height: 35px;
                    width: 120px;
                    text-align: left;
                    outline: none;
                  }
                }
              }
            }
            .column-two-right{
              padding: 30px ;
              min-height: 300px;
              border-left: 1px solid #979797;
              @media screen and (max-width: 576px) {
                border-left: none;
                padding: 30px;
              }
            }
          }
        }
    }

    .column-content-contact{
      padding: 50px 0;
      .title{
        text-transform: uppercase;
        font-size: 50px;
        color: #16124f;
        text-align: center;
        font-family: 'Conv_GOTHAM-XLIGHT';
        span{
          color: #8e0d00;
          font-family: 'Conv_GOTHAM-BOLD';
        }
      }
    }
    .page-column-block{
      font-family: 'Conv_GOTHAM-XLIGHT';
      .teks{
        color: #181b61;
        font-size: 20px;
        span{
          font-family: 'Conv_GOTHAM-BOLD';
        }
      }
      .titlex{
        color: #a92000;
        font-size: 30px;
      }
      .subtext{
        font-size: 16px;
        color: #181b61;
        span{
          font-family: 'Conv_GOTHAM-BOLD';
          display: block;
        }
      }
      .tabless{
        margin-top: 20px;
        font-size: 12px;
        .col{
          .col-left{
            width: 30%;
            display: inline-block;
          }
          .col-right{
            width: 65%;
            display: inline-block;
          }
        }        
      }
      .img{
        margin: 20px 0;
        img{
          width: 200px;
        }
      }
    }
    .page-column-left{
      .menu-side{
        ul{
          @media screen and (max-width: 768px) {
            padding: 0;
          }
        }
        .submenux{
          background: #fafafa;
          border: 1px solid #ddd;
          padding: 10px 15px;
          label{
            @media screen and (max-width: 768px) {
              font-size: 12px;
            }
          }
        }
        .has-children{
          list-style: none;
            ul{
                padding: 0;
                background: #fafafa;
                display: none;
                li{
                  background: #fafafa;
                  border: 1px solid #ddd;
                  padding: 10px 10px 10px 30px;
                  list-style: none;
                  @media screen and (max-width: 768px) {
                    font-size: 12px;
                  }
                  a{
                    text-decoration: none;
                    color: #6c6c6c;
                    display: block;
                  }
                  .submenux{
                    border: none;
                  }
                  ul{                    
                    li{
                      border: none;
                      list-style: none;
                      a{
                        text-decoration: none;
                        color: #6c6c6c;
                        display: block;
                      }
                    }
                  }
                }
            }
        }
        .panel-heading .accordion-toggle:after {
            /* symbol for "opening" panels */
            font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
            content: "\e253";    /* adjust as needed, taken from bootstrap.css */
            float: right;        /* adjust as needed */
            color: #181b61;         /* adjust as needed */
        }
        .panel-heading .accordion-toggle.collapsed:after {
            /* symbol for "collapsed" panels */
            content: "\e252";    /* adjust as needed, taken from bootstrap.css */
        }
        .panel-group{
          font-family: 'Conv_GOTHAM-XLIGHT';
          .panel-default{
            border-radius: 0;
            box-shadow: none;
            .panel-heading{
              background: #fafafa;
              border-radius: 0;
              color: #181b61;
              h4{
                color: #181b61;
                a{
                  display: block;
                  color: #181b61;
                  text-decoration: none;
                }
              }
            }
            .panel-body{
              padding: 0;
              .block{
                border-bottom: 1px solid #767e8b;
                padding: 10px;
                &:last-child{
                  border-bottom: none;
                }
                &:hover{
                  background: #767e8b;
                  color: #fff;
                }
                label{
                  display: block;
                }
              }
              .active{
                background: #767e8b;
                color: #fff;
              }
            }
          }
        }
      }
    }
    .page-column-right{
      color: #484848;
      font-family: 'Conv_GOTHAM-XLIGHT';
      .titlex{
        color: #181b61;
        text-transform: uppercase;
        font-size: 16px;
        font-family: 'Conv_GOTHAM-BOLD';
        line-height: normal;
        margin-bottom: 20px;
      }
      .descx{
        margin-bottom: 20px;
      }
      .block-contact{
        min-height: 230px;
      }
      .subtitle{
        text-transform: uppercase;
        font-size: 30px;
        color: #16124f;
        @media screen and (max-width: 576px) {
          font-size: 24px;
        }
        span{
          color: #8e0d00;
          font-family: 'Conv_GOTHAM-BOLD';
        }
      }
      .border{
        margin: 1% 0 5%;
        height: 8px;
      }
      .tagline{
        font-size: 20px;
      }
      h3{
        color: #181b61;
        text-transform: uppercase;
        font-family: 'Conv_GOTHAM-BOLD';
      }
      ul{
        padding-left: 15px;
        margin-bottom: 30px;
      }
      .content-column{
        .img{
          img{
            width: 100%;
          }
        }
      }
    }
  }

  


  #footer{
    padding: 20px 0;
    border-bottom: 20px solid #181b61;
    border-top: 5px solid #8e0d00;
    .footer-column{
      .footer-block{
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: left;
        height: 70px;
        ul{
          padding: 0;
          @media screen and (max-width: 767px) {
            text-align: center;
            width: 100%;
          }
          li{
            list-style-type: none;
            float: left;
            margin-right: 10px;
            @media screen and (max-width: 767px) {
              float: none;
              display: inline-block;
            }
            img{
              height: 70px;
              object-fit:contain;
              @media screen and (max-width: 768px) {
                height: 50px;
              }
            }
          }
        }
      }
      .footer-sosmed{
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 70px;
        ul{
          padding: 0;
          margin: 0;
          li{
            list-style: none;
            display: inline-block;
            margin: 0 10px;
            font-size: 20px;
            a{
              color: #5e5f5f;
              text-decoration: none;
              &:hover{
                color: #181b61;
              }
            }
          }
        }
      }
    }
  }
}